server:
  port: 10010

spring:
  application:
    name: gateway
  cloud:
    nacos:
      server-addr: 60.205.113.149:8848
    gateway:
      routes:
        - id: prescription-service
          uri: lb://prescription-service
          predicates:
            - Path=/prescription/**
      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5174"
            allowedMethods:
              - "GET"
              - "POST"
              - "DELETE"
              - "PUT"
              - "OPTIONS"
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 360000
